.auto-style8 {
    width: 274px;
    height: 46px;
}
.auto-style10 {
    width: 57px;
    height: 41px;
}
.auto-style11 {
    width: 149px;
    height: 108px;
}

.auto-style14 {
    width: 166px;
    }
.auto-style15 {
    height: 101px;
}
.auto-style16 {
    height: 30px;
}
.auto-style17 {
    height: 15px;
}

  .transparency{
background-color: lightgrey;
display: block;
opacity: 0.3;
margin: 0 auto;
width: 300px;
height: 300px;
background-image: url(images/download.png);
background-repeat: no-repeat;
}
.auto-style20 {
    width: 1047px;
}
.auto-style21 {
    height: 15px;
}
.auto-style22 {
    height: 16px;
}
.auto-style23 {
    width: 76px;
    height: 872px;
    margin-top: 22px;
}
.auto-style26 {
    width: 295px;
    height: 39px;
}
.auto-style27 {
    height: 107px;
}
.auto-style28 {
    width: 1047px;
    height: 107px;
}
.auto-style29 {
    height: 18px;
}
.auto-style31 {
    height: 1px;
}
.auto-style32 {
    height: 31px;
}
.auto-style33 {
    height: 17px;
}
#printarea {
    height: 1008px;
}